# Caddy's configuration file
# Sam Dennon//2022

*.code.sameureka.com, code.sameureka.com, rancher.sameureka.com {
	tls {
		dns $DNS_PROVIDER $DNS_API_KEY 
	}

	@rancher host rancher.sameureka.com
	handle @rancher {
		reverse_proxy 192.168.86.150
	}

	@codewild host *.code.sameureka.com
	handle @codewild {
		reverse_proxy 192.168.86.53:8080
	}

	@code host code.sameureka.com
	handle @code {
		reverse_proxy 192.168.86.53:8080
	}
}
